$backgroundColor: rgb(212, 135, 135);

footer {
  padding: 2rem 0rem;
  background-color: $backgroundColor;
  text-align: center;
  h2 {
    margin-bottom: 3rem;
  }
  div {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  a {
    cursor: pointer;
    color: black;
    &:hover {
      color: white;
    }
  }
}
